@import "null.css";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

.wrapper{
   min-height: 100%;
	overflow: hidden;
}
body{
   font-family: "Lato";
   font-size: 16px;
}
.content{
   max-width: 830px;
   margin: 0px auto;
   padding-left: 10px;
}
h1{
   font-weight: 900;
   font-size: 46px;
   line-height: 130%;
   color: #1E212C;
   margin-bottom: 26px;
}
.clock span{
   display: inline-block;
   margin: 0 24px 40px 0;
   font-size: 16px;
   line-height: 160%;
   color: #787A80;
}
.date{
   background: url('../img/Calendar.png') 0 5px no-repeat;
   padding-left: 24px;
}
.when{
   background: url('../img/Clock.png') 0 6px no-repeat;
   padding-left: 24px;
}
.section-two img{
   margin-bottom: 60px;
}
.section-two h2{
   margin-bottom: 24px;
}
.section-two p{
   margin-bottom: 35px;
   text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.weight-text{
   font-weight: 700;
   font-size: 20px;
   line-height: 150%;
   color: #1E212C;
}
.text{
   color: #424551;
   line-height: 160%;
}
.section-three h2{
   background: url('../img/braces.png')0 0 no-repeat;
   padding-left: 58px;
   margin: 48px 0;
}
.list{
   margin: 24px 0;
}
.list li{
   color: #424551;
   line-height: 160%;
   background: url('../img/check.svg') 0 5px no-repeat;
   padding-left: 30px;
}